*{
    margin: 0;
    padding: 0;
}
.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .background-color{
    background-color: #F7F7F7;
    
  }
  /* Header part */
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
  }
  .nav_bar{
    height: 70px;
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_icon{
    display: flex;
    align-items: center;
  }
  .nav_name{
    display: flex;
    gap: 2.5em;
  }
  .nav_btn{
      width: 9em;
      height: 3em;
      background-color: orange;
      border: 0;
      border-radius: 7px;
      color: #F7F7F7;
      font-weight: 700;
  }
  .nav_icon p{
    font-size: 2em;
    font-weight: 700;
    margin-left: 5px;
  }
  .nav_icon img{
    height: 50px;
    width: 50px;
  }
  .nav_name p{
    font-weight: 700;
  }
  .nav_bar i {
     display: none;
  }
  /* banner part */

  .banner_box{
    height: 400px;
    width: 77%;
    display: flex;
  }
  .banner_box1{
    height: 400px;
    width: 62%;
    
     }
  .banner_text{
    margin-top: 3.5em;
  }
  .banner_text p{
    font-size: 3em;
    font-weight: 700;
  }
  .enroll{
    height: 3.5em;
    width: 12em;
    background-color: black;
    color: #F7F7F7;
    margin-top: 1em;
    border: 0;
    border-radius: 7px;
  }
  .banner_box2{
    height: 400px;
    width: 38%;
      }
  .banner_box2 img{
    height: 100%;
    width: 100%;
  }
  .box2-mobile{
    display: none;
  }
  /* curriculum Part */
  .main{
    background-image: url(assets/bg.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .culum_box{
    height: 550px;
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .culum_title{
    margin: 1.5em 0em;
    font-size: 2em;
    font-weight: 700;
  }
  .culum_box1{
    height: 300px;
    width: 100%;
    display: flex;
    gap: 4%;
  }
  .culum_box2{
    height:300px ;
    width: 31%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .btn_box{
    margin-top: 2.2em;
  }
  .btn_1{
    background-color: orange;
    border: 0;
    font-size: 3em;
    border-radius: 50%;
    width: 1.1em;
    color: white;
  }
  .cul_img_box{
    height: 113px;
    width: 49%;
    margin-top: 23px;
  }
  .cul_img_box img {
    height: 100%;
    width: 100%;
  }
  .cul_heading{
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 0.5em;
  }
  .cul_dis{
    text-align: center;
    margin: 0.8em 1em 0.8em 1em;
  }
  .read_more{
    text-decoration: none;
  }

  /* Our stories */

  .main_box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/bg.png);
    background-size: 100%;
    background: linear-gradient(to top ,#f9ddaec0,#f7f7f71c);
  }
  .our_stories{
     height: 750px;
     width: 77%;
     display: flex;
     flex-direction: column;
     align-items: center;
     
  }
  .story_heading{
    font-size: 2.3em;
    font-weight: 700;
    margin: 1.3em;
  }
  .story_box{
     height: 460px;
     width: 100%;
     display: flex;
     gap: 2.5%;
  }
  .story_box1{
    height: 460px;
    width: 46%;
    background-color: #ffffff;
    border-radius: 15px;
  }
  .story_box1 img {
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
  }
  .story_1_btn{
    background-color: #3CD8E8;
    color: white;
    height: 2.5em;
    font-size: 1em;
    width: 12em;
    border: 0;
    border-radius: 22px;
    position: relative;
    bottom: 1.5em;
    left: 1.5em;
  }
  .story_1_heading{
    font-size: 1.3em;
    font-weight: 600;
    margin-left: 1.5em;
  }
  .story_1_dis{
    margin: 2em 0 0 1.5em;
  }
  .story_box2{
    height: 460px;
     width: 51%;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1em;
  }
  .small_box{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 13px;
  }
  .small_box img{
    height: 60%;
    width: 100%;
    border-radius: 12px 12px 0 0;
  }
  .small_box button{
    background-color: #95B226;
    color: white;
    height: 2.5em;
    font-size: .7em;
    width: 12em;
    border: 0;
    border-radius: 22px;
    position: relative;
    bottom: 1.5em;
    left: 1em;
  }
  .small_box p{
    font-size: 0.8em;
    margin-left: 1em;
    font-weight: 600;
  }
  .mobile_story{
    display: none;
  }
  .view{
    font-size: 1.2em;
    height: 2em;
    width: 9em;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 8px;
    margin-top: 2.7em;
  }
  /* footer section */
  .footer{
    height: 400px;
    width: 100%;
    background-color: #01ACFD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  .footer_box{
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .footer1{
     height: 100%;
     width: 30%;
  }
  .footer1_box{
     display: flex;
  }
  .footer1_box i {
     font-size: 5em;
     color: #ffffff;
  }
  .footer1_box p{
    font-size: 2.5em;
    line-height: 0.9em;
    margin-left: 0.3em;
    font-weight: 700;
  }
  .main_text{
    margin-top: 1em;
    font-size: 1.3em;
  }
  .footer2{
    height: 100%;
     width: 30%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1em;
  }
  .footer_heading,.footer3 p{
    font-size: 1.5em;
    font-weight: 700;
  }
  .head_box{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .head_box p{
    font-size: 1.7em;
  }
  .footer3{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon_container{
    margin-top: 1.5em;
  }
  